<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>LOGIN</h1>
<p th:if="${error}" th:text="'ERROR: ' + ${error}" style="color: red;"></p>
<form action="/login" method="post">
  <p>
    <label for="emailOrUsername">Username or Email:</label>
    <input type="text" id="emailOrUsername" name="emailOrUsername" required>
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </p>
  <p>
    <button type="submit">Login</button>
  </p>

</form>
</body>
</html>